.first {
    background-color: black;
    height: 40px;
    width: 40px;

}

.second {
    background-color: black;
    height: 40px;
    width: 40px;
    margin: 0 0 0 40px;
}

.pop {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}


.boxi {
    border: 10px solid rgb(61, 61, 61);
    width: 320px;
    height:320px;
    box-shadow: 0px 0px 2px 5px rgb(126, 125, 125);
}

.MAIN {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instruct {
    margin: 10px;
}
